src/test/resources/all_in_one/ref/rng/20_profil_archivage_inferieur_dans_superieur_physique.rng

<?xml version='1.0' encoding='utf-8' standalone='no'?>
<rng:grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  xmlns:rng="http://relaxng.org/ns/structure/1.0"
  xmlns:seda="fr:gouv:culture:archivesdefrance:seda:v2.1" xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="fr:gouv:culture:archivesdefrance:seda:v2.1"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  ns="fr:gouv:culture:archivesdefrance:seda:v2.1">
	<rng:start>
		<rng:element name="ArchiveTransfer">
			<rng:zeroOrMore>
				<rng:attribute>
					<rng:anyName>
						<rng:except>
							<rng:nsName/>
							<rng:nsName ns=""/>
						</rng:except>
					</rng:anyName>
				</rng:attribute>
			</rng:zeroOrMore>
			<rng:optional>
				<rng:attribute name="id">
					<rng:data type="ID"/>
				</rng:attribute>
			</rng:optional>
			<rng:element name="Date">
				<rng:data type="dateTime"/>
			</rng:element>
			<rng:element name="MessageIdentifier">
				<rng:optional>
					<rng:attribute name="schemeDataURI">
						<rng:data type="anyURI"/>
					</rng:attribute>
				</rng:optional>
				<rng:optional>
					<rng:attribute name="schemeID">
						<rng:data type="token"/>
					</rng:attribute>
				</rng:optional>
				<rng:optional>
					<rng:attribute name="schemeAgencyName">
						<rng:data type="string"/>
					</rng:attribute>
				</rng:optional>
				<rng:optional>
					<rng:attribute name="schemeAgencyID">
						<rng:data type="token"/>
					</rng:attribute>
				</rng:optional>
				<rng:optional>
					<rng:attribute name="schemeName">
						<rng:data type="string"/>
					</rng:attribute>
				</rng:optional>
				<rng:optional>
					<rng:attribute name="schemeVersionID">
						<rng:data type="token"/>
					</rng:attribute>
				</rng:optional>
				<rng:optional>
					<rng:attribute name="schemeURI">
						<rng:data type="anyURI"/>
					</rng:attribute>
				</rng:optional>
				<rng:data type="token"/>
			</rng:element>
			<rng:optional>
				<rng:element name="ArchivalAgreement">
					<rng:optional>
						<rng:attribute name="schemeDataURI">
							<rng:data type="anyURI"/>
						</rng:attribute>
					</rng:optional>
					<rng:optional>
						<rng:attribute name="schemeID">
							<rng:data type="token"/>
						</rng:attribute>
					</rng:optional>
					<rng:optional>
						<rng:attribute name="schemeAgencyName">
							<rng:data type="string"/>
						</rng:attribute>
					</rng:optional>
					<rng:optional>
						<rng:attribute name="schemeAgencyID">
							<rng:data type="token"/>
						</rng:attribute>
					</rng:optional>
					<rng:optional>
						<rng:attribute name="schemeName">
							<rng:data type="string"/>
						</rng:attribute>
					</rng:optional>
					<rng:optional>
						<rng:attribute name="schemeVersionID">
							<rng:data type="token"/>
						</rng:attribute>
					</rng:optional>
					<rng:optional>
						<rng:attribute name="schemeURI">
							<rng:data type="anyURI"/>
						</rng:attribute>
					</rng:optional>
					<rng:data type="string"/>
				</rng:element>
			</rng:optional>
			<rng:element name="CodeListVersions">
				<rng:optional>
					<rng:attribute name="id">
						<rng:data type="ID"/>
					</rng:attribute>
				</rng:optional>
				<rng:optional>
					<rng:element name="ReplyCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">ReplyCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="MessageDigestAlgorithmCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">MessageDigestAlgorithmCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="MimeTypeCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">MimeTypeCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="EncodingCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">EncodingCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="FileFormatCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">FileFormatCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="CompressionAlgorithmCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">CompressionAlgorithmCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="DataObjectVersionCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">DataObjectVersionCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="StorageRuleCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">StorageRuleCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="AppraisalRuleCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">AppraisalRuleCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="AccessRuleCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">AccessRuleCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="DisseminationRuleCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">DisseminationRuleCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="ReuseRuleCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">ReuseRuleCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="ClassificationRuleCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">ClassificationRuleCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="AuthorizationReasonCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">AuthorizationReasonCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="RelationshipCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">RelationshipCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
			</rng:element>
			<rng:element name="DataObjectPackage">
				<rng:optional>
					<rng:attribute name="id">
						<rng:data type="ID"/>
					</rng:attribute>
				</rng:optional>
				<rng:zeroOrMore>
					<rng:element name="DataObjectGroup">
						<rng:attribute name="id">
							<rng:data type="ID"/>
						</rng:attribute>
						<rng:element name="PhysicalDataObject">
							<rng:attribute name="id" seda:profid="id783588">
								<rng:data type="ID"/>
							</rng:attribute>
							<rng:element name="DataObjectVersion">
								<rng:value type="string">PhysicalMaster</rng:value>
							</rng:element>
							<rng:element name="PhysicalId">
								<rng:data type="string"/>
							</rng:element>
						</rng:element>
					</rng:element>
				</rng:zeroOrMore>
				<rng:element name="DescriptiveMetadata">
					<rng:zeroOrMore>
						<rng:element name="ArchiveUnit">
							<rng:attribute name="id" seda:profid="id781859">
								<rng:data type="ID"/>
							</rng:attribute>
							<rng:optional>
								<rng:element name="Management">
										<rng:element name="UpdateOperation">
											<rng:choice>
												<rng:group>
													<rng:element name="ArchiveUnitIdentifierKey">
														<rng:element name="MetadataName">
															<rng:data type="string"/>
														</rng:element>
														<rng:element name="MetadataValue">
															<rng:data type="string"/>
														</rng:element>
													</rng:element>
												</rng:group>
												<rng:group>										
													<rng:element name="SystemId">
														<rng:data type="string"/>
													</rng:element>
												</rng:group>
											</rng:choice>
										</rng:element>
									</rng:element>
							</rng:optional>
							<rng:element name="Content">
								<rng:element name="DescriptionLevel">
									<rng:choice>
										<rng:value type="token">File</rng:value>
										<rng:value type="token">Item</rng:value>
									</rng:choice>
								</rng:element>
								<rng:element name="Title">
									<rng:data type="string"/>
								</rng:element>
								<rng:optional>								
									<rng:element name="PhysicalType">
										<rng:data type="string"/>
									</rng:element>
								</rng:optional>	
							</rng:element>
							<rng:zeroOrMore>
								<rng:element name="ArchiveUnit">
									<rng:attribute name="id" seda:profid="id781859">
										<rng:data type="ID"/>
									</rng:attribute>
									<rng:choice>
										<rng:group>
											<rng:optional>
												<rng:element name="Management">
													<rng:element name="AppraisalRule">
														<rng:group>
															<rng:element name="Rule">
																<rng:optional>
																	<rng:attribute name="id">
																		<rng:data type="ID"/>
																	</rng:attribute>
																</rng:optional>
																<rng:value type="token">P20-1</rng:value>
															</rng:element>
															<rng:element name="StartDate">
																<rng:data type="date"/>
															</rng:element>
														</rng:group>
														<rng:element name="FinalAction">
															<rng:value type="token">Destroy</rng:value>
														</rng:element>
													</rng:element>
												</rng:element>
											</rng:optional>
											<rng:element name="Content">
												<rng:element name="DescriptionLevel">
													<rng:choice>
														<rng:value type="token">File</rng:value>
														<rng:value type="token">Item</rng:value>
													</rng:choice>
												</rng:element>
												<rng:element name="Title">
													<rng:data type="string"/>
												</rng:element>
												<rng:element name="OriginatingAgencyArchiveUnitIdentifier">
													<rng:data type="string"/>
												</rng:element>														
												<rng:element name="Description">
													<rng:data type="token"/>
												</rng:element>
												<rng:element name="DocumentType">
													<rng:data type="token"/>
												</rng:element>													
												<rng:element name="Status">
													<rng:data type="string"/>
												</rng:element>	
												<rng:element name="StartDate">
													<rng:choice>
														<rng:data type="date"/>
														<rng:data type="dateTime"/>
													</rng:choice>
												</rng:element>
												<rng:optional>									
													<rng:element name="PhysicalType">
														<rng:data type="string"/>
													</rng:element>	
												</rng:optional>	
												<rng:optional>									
													<rng:element name="PhysicalStatus">
														<rng:data type="string"/>
													</rng:element>	
												</rng:optional>
												<rng:optional>																			
													<rng:element name="PhysicalAgency">
														<rng:data type="string"/>
													</rng:element>	
												</rng:optional>	
												<rng:optional>
													<rng:element name="PhysicalReference">
														<rng:data type="string"/>
													</rng:element>
												</rng:optional>
												<rng:optional>																				
														<rng:element name="PhysicalBarcode">
															<rng:data type="string"/>
														</rng:element>
												</rng:optional>
												<rng:optional>																				
														<rng:element name="PhysicalIdentifier">
															<rng:data type="string"/>
														</rng:element>
												</rng:optional>
											</rng:element>
											<rng:element name="DataObjectReference">
												<rng:optional>
													<rng:attribute name="id">
														<rng:data type="ID"/>
													</rng:attribute>
												</rng:optional>
												<rng:element name="DataObjectGroupReferenceId" a:defaultValue="id783603">
													<rng:data type="NCName"/>
												</rng:element>
											</rng:element>
										</rng:group>
									</rng:choice>
								</rng:element>
							</rng:zeroOrMore>
						</rng:element>
					</rng:zeroOrMore>					
				</rng:element>
				<rng:element name="ManagementMetadata">
					<rng:optional>
						<rng:attribute name="id">
							<rng:data type="ID"/>
						</rng:attribute>
					</rng:optional>
					<rng:element name="ArchivalProfile">
						<rng:value type="string">PR-000008</rng:value>
					</rng:element>
					<rng:element name="OriginatingAgencyIdentifier">
						<rng:data type="string"/>
					</rng:element>
					<rng:element name="SubmissionAgencyIdentifier">
						<rng:data type="string"/>
					</rng:element>
				</rng:element>
			</rng:element>
			<rng:element name="ArchivalAgency">
				<rng:element name="Identifier">
					<rng:data type="string"/>
				</rng:element>
			</rng:element>
			<rng:element name="TransferringAgency">
				<rng:element name="Identifier">
					<rng:data type="string"/>
				</rng:element>
			</rng:element>
		</rng:element>
	</rng:start>
	<rng:define name="OpenType">
		<rng:zeroOrMore>
			<rng:element>
				<rng:anyName/>
				<rng:zeroOrMore>
					<rng:attribute>
						<rng:anyName/>
					</rng:attribute>
				</rng:zeroOrMore>
			</rng:element>
		</rng:zeroOrMore>
	</rng:define>
</rng:grammar>
